@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap p.is-editor-empty:first-child::before {
    color: hwb(187 93% 4% / 0.40);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  